In [17]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (copied csv files locally)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data
city_data = pd.read_csv("data/city_data.csv")
ride_data = pd.read_csv("data/ride_data.csv")

# Combine the data into a single dataset
combined_city_ride_df = pd.merge(ride_data, city_data,
                                 how='left', on='city')

# Display the data table for preview
combined_city_ride_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2018-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2018-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2018-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2018-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2018-03-06 04:28:35,34.58,3908451377344,46,Urban

In [25]:
# Obtain the x and y coordinates for each of the three city types
groupby_city_types = combined_city_ride_df.groupby(["type", "city"])
groupby_city_types.head()
groupby_city_types.count().head(10)
groupby_city_types["fare"].mean()

type      city
Rural     Bradshawfurt            40.064000
          Garzaport               24.123333
          Harringtonfort          33.470000
          Jessicaport             36.013333
          Lake Jamie              34.358333
          Lake Latoyabury         26.061818
          Michaelberg             34.997500
          New Ryantown            43.278333
          Newtonview              36.745000
          North Holly             29.130000
          North Jaime             30.802500
          Penaborough             35.246000
          Randallchester          29.742000
          South Jennifer          35.264286
          South Marychester       41.870000
          South Saramouth         36.160000
          Taylorhaven             42.263333
          West Heather            33.890000
Suburban  Barronchester           36.422500
          Bethanyland             32.956111
          Brandonfort             35.437368
          Colemanland             30.894545
          Davidfurt               31.995882
          East Aaronbury          25.661111
          East Danielview         31.560588
          East Kentstad           29.823077
          East Marymouth          30.835185
          Grayville               27.763333
          Josephside              32.858148
          Lake Ann                30.890000
                                    ...
Urban     Port Johnbury           23.006364
          Port Samanthamouth      25.642800
          Raymondhaven            21.480400
          Reynoldsfurt            21.919474
          Richardfort             22.373214
          Roberthaven             23.729167
          Robertport              23.060500
          Rodneyfort              28.616957
          Rogerston               22.097727
          Royland                 20.570667
          Simpsonburgh            23.355833
          South Evanton           26.726129
          South Jack              22.965263
          South Karenland         26.535526
          South Latoya            20.093158
          South Michelleport      24.451613
          South Phillip           28.571290
          Valentineton            24.636364
          West Angela             25.990000
          West Anthony            24.736667
          West Christopherberg    24.421154
          West Ericstad           22.347222
          West Gabriel            20.346087
          West Heidi              23.133929
          West Josephberg         21.720385
          West Patrickchester     28.233125
          West Robert             25.123871
          West Samuelburgh        21.767600
          Williamsstad            24.362174
          Williamsview            26.599000
Name: fare, Length: 120, dtype: float64

In [29]:

# Build the scatter plots for each city types
x_axis = groupby_city_types["fare"].mean()
data = "city"
plt.scatter (x_axis, data, marker="o", facecolors="red", edgecolors="black", s= x_axis, alpha=0.75)
plt.ylim(18,45)
plt.xlim(0,45)

plt.title("Pyber Ride Sharing Data (2016)")
plt.xlabel("Total Number of Rides (Per City)")
plt.ylabel("Average Fare ($)")

plt.scatter(x_axis, times, marker="o", color="red")
plt.show()
# Incorporate the other graph properties

# Create a legend
plt.legend(handles=[City Types], loc="best")

# Incorporate a text label regarding circle size

# Save Figure

SyntaxError: invalid syntax (<ipython-input-29-8ead486de3f3>, line 18)

In [30]:
# Show plot
plt.show()

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()